<%- include('header') -%>

<div class="container container-game">
    <h1>Treasure Hunt</h1>
    <form action= <%=route%> method="post" >
        <img src=<%= image %> alt="">
        <div class="clue">
          <p> <%= riddle %> </p>
        </div>
        <div class="submit">
            <input type="text" placeholder="Enter your answer here">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>


<%- include('footer') -%>